* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.caixa-texto {
    width: 600px;
}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px
}

.menu {
    display: flex;
    justify-content: center;


}










h2 {
    color: #333;
    font-size: 60px;
    font-weight: 500;
}

span {
    color: darkgreen;
    font-size: 70px;
    font-weight: 500;

}

p {
    font-size: 16px;
}

.starbuckss {
    width: 340px
}

.logo {
    width: 80px;

}

.botao-menu {
    width: 60px;
    cursor: pointer;
    transition: 1s;
    margin: 10px;
}

.botao-menu:hover {
    transform: translateY(-25px);
}

.botao {
    color: white;
    background-color: darkgreen;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: 2s;
    margin-top: 15px;

}

.botao:hover {
    transform: translateX(20px);
}


.circuloo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: darkgreen;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: -1;


}

@media screen and (max-width:1250px) {
    body {
        width: auto;

    }

    .conteudo {
        display: block;
        width: 400px;
        align-items: center;
    }

    .conteudo p {
        display: block;
        margin-top: 200px;
        font-size: 70px;
        width: 900px;

    }

    .conteudo h2 {
        display: block;
        margin-top: 40px;
        font-size: 90px;
    }

    .circuloo {
        margin-top: 1900px;
        display: block;
        width: 900px;
        margin-bottom: 30px;
        clip-path: circle(80% at center bottom);


    }

    .logo {
        width: 100px;
    }

    .botao {

        display: flex;
        justify-content: center;


        font-size: 50px;

    }

    .menu {
      
        margin-top: 100%;
        margin-left: 300px;
        margin-right: 50%;
     
         
    }
    .menu img{
        width: 500px;
        padding-left: 190px
    }

    .caixa-imagem {
        display: block;
        width: 80px;
        font-weight: 300px;
        margin-left: 40%;
        


    }


}